
		<link rel="stylesheet" type="text/css" href="/static/dist/css/css/pacman.css" />
		<link rel="stylesheet" type="text/css" href="/static/dist/css/pacman-home.css" />
	

	
		<title>Lucio PANEPINTO - Pac-Man</title>
	</head>
		
	<body>
	
		<div id="sound"></div>
	
		<div id="help">
			<h2>Help</h2>
			<table align="center" border="0" cellPadding="2" cellSpacing="0">
				<tbody>
					<tr><td>Arrow Left : </td><td>Move Left</td></tr>
					<tr><td>Arrow Right : </td><td>Move Right</td></tr>
					<tr><td>Arrow Down : </td><td>Move Down</td></tr>
					<tr><td>Arrow Up : </td><td>Move Up</td></tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr><td>P : </td><td>PAUSE</td></tr>
				</tbody>
			</table>
		</div>
	
		<div id="home">
			
			
			<canvas id="canvas-home-title-pacman"></canvas>
			<div id="presentation">
				<div id="presentation-titles">character &nbsp;/&nbsp; nickname</div>
				<canvas id="canvas-presentation-blinky"></canvas><div id="presentation-character-blinky">- shadow</div><div id="presentation-name-blinky">"blinky"</div>
				<canvas id="canvas-presentation-pinky"></canvas><div id="presentation-character-pinky">- speedy</div><div id="presentation-name-pinky">"pinky"</div>
				<canvas id="canvas-presentation-inky"></canvas><div id="presentation-character-inky">- bashful</div><div id="presentation-name-inky">"inky"</div>
				<canvas id="canvas-presentation-clyde"></canvas><div id="presentation-character-clyde">- pokey</div><div id="presentation-name-clyde">"clyde"</div>
			</div>
			<canvas id="trailer"></canvas>
			<div class="help-button">- help -</div>
			<a class="sound" href="javascript:void(0);" data-sound="on"><img src="/static/dist/img/sound-on.png" alt="" border="0"></a>
			
		</div>
	
		<div id="panel">
			<h1>pac-man</h1>
			<canvas id="canvas-panel-title-pacman"></canvas>
			<div id="score"><h2>1UP</h2><span>00</span></div>
			<div id="highscore"><h2>High Score</h2><span>00</span></div>
			<div id="board">
				<canvas id="canvas-board"></canvas>
				<canvas id="canvas-paths"></canvas>
				<canvas id="canvas-bubbles"></canvas>
				<canvas id="canvas-fruits"></canvas>
				<canvas id="canvas-pacman"></canvas>
				<canvas id="canvas-ghost-blinky"></canvas>
				<canvas id="canvas-ghost-pinky"></canvas>
				<canvas id="canvas-ghost-inky"></canvas>
				<canvas id="canvas-ghost-clyde"></canvas>
				<div id="control-up-big"></div>
				<div id="control-down-big"></div>
				<div id="control-left-big"></div>
				<div id="control-right-big"></div>
			</div>
			<div id="control">
				<div id="control-up"></div>
				<div id="control-up-second"></div>
				<div id="control-down"></div> 
				<div id="control-down-second"></div>
				<div id="control-left"></div>
				<div id="control-right"></div>
			</div>
			<canvas id="canvas-lifes"></canvas>
			<canvas id="canvas-level-fruits"></canvas>
			<div id="message"></div>
			<div class="help-button">- help -</div>
			<a class="sound" href="javascript:void(0);" data-sound="on"><img src="/static/dist/img/sound-on.png" alt="" border="0"></a>
		</div>
	
		<!--<script type="text/javascript" src="/static/dist/js/games/pacman/jquery.js"></script>-->
		<!--<script type="text/javascript" src="js/jquery-mobile.js"></script>-->
		<script type="text/javascript" src="/static/dist/js/games/pacman/jquery-buzz.js"></script>
		
		<script type="text/javascript" src="/static/dist/js/games/pacman/game.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/tools.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/board.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/paths.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/bubbles.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/fruits.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/pacman.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/ghosts.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/home.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/sound.js"></script>
		<script type="text/javascript" src="/static/dist/js/games/pacman/initgame.js"></script>

