
<link rel="stylesheet" href="/static/dist/js/games/chess/jquery-ui.css">

<link rel="stylesheet" href="/static/dist/css/chess.css">
<link rel="shortcut icon" href="/static/dist/css/chess.ico">

<div class="col-md-12">
<div id="chessboard" role="main"></div>
</div>


<script src="/static/dist/js/games/chess/jquery-1.9.0.min.js"></script>
<script src="/static/dist/js/games/chess/jquery-ui.min.js"></script>
<script src="/static/dist/js/games/chess/jquery.ui.touch-punch.min.js"></script>
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/augment.js/1.0.0/augment.min.js"></script><![endif]-->


<script src="/static/dist/js/games/chess/chess.js"></script>
<script src="/static/dist/js/games/chess/bitboard.js"></script>
<script src="/static/dist/js/games/chess/zobrist.js"></script>
<script src="/static/dist/js/games/chess/move.js"></script>
<script src="/static/dist/js/games/chess/position.js"></script>
<script src="/static/dist/js/games/chess/parser.js"></script>
<script src="/static/dist/js/games/chess/ai.js"></script>
<script src="/static/dist/js/games/chess/ui.js"></script>



<script>
	$(makeChessGame);
</script>
