<div id="fb-root"></div>


<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title"><strong><i class="fa fa-facebook"> </i> Facebook</strong></h3>
        <blockquote>
            <em><a href="https://facebook.com/justiceblueit"> <strong> <i class="fa fa-facebook"> </i> Justice Ndou on Facebook</strong></a> </em>
        </blockquote>
    </div>
    <div class="box box-container with-border">
            <div class="fb-page" data-href="https://www.facebook.com/JusticeNdouPage/" data-tabs="timeline" data-width="800" data-height="1024" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/JusticeNdouPage/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/JusticeNdouPage/">Justice Ndou</a></blockquote></div>
    </div>

</div>