

<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title"><strong> <i class="fa fa-twitter"> </i> Twitter</strong></h3>
        <blockquote>
                <em><a href="https://twitter.com/blueitserver" target="_blank"><strong><i class="fa fa-twitter"> </i>  Justice Ndou on Twitter </strong></a></em>
        </blockquote>
    </div>
    <div class="box box-container with-border">
            <a class="twitter-timeline" href="https://twitter.com/blueitserver?ref_src=twsrc%5Etfw">Tweets by blueitserver</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>

</div>