

<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title"><strong><i class="fa fa-youtube"> </i> Youtube</strong></h3>
        <blockquote>
            <em><a href="https://www.youtube.com/c/JusticeNDOU"> <strong> <i class="fa fa-youtube"> </i> Justice Ndou Youtube Channel</strong></a></em>
        </blockquote>
    </div>

    <div class="box-footer">
        <blockquote><h3>Search Youtube with Justice Ndou</h3>
            <h3>Or Press search without search terms and get to see what i am watching on youtube now</h3></blockquote>
    </div>

    <form class="form-horizontal">

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"> </i> </div> <input type="text" id="search_field" class="form-control">
                <div class="input-group-addon">
                    <a href="#" id="searchbuttid" onclick="youtube_search()"> <strong>Search</strong></a>

                </div>
            </div>
    </form>

    <div class="box box-container with-border">
        <youtube-search></youtube-search>
    </div>

</div>