<div class="box box-footer with-border">
    <footer class="main-footer"><div class="pull-right hidden-xs"><b> Design By </b> <a href="https://justicendou.site" title="Contact Justice Ndou for your own profile page development needs"><strong><i class="fa fa-user-secret"> </i> Justice Ndou</strong></a></div>
<div class="pull-left hidden-xs"><strong>Copyright &copy; 2012-2017 <a href="http://blueitmarketing.site">Blue IT Marketing Pty LTD</a>.</strong></div> All rights reserved <small>reg: 2013/078651/07</small> <small><strong><a href="tel:+27790471559">Call Me : +2779 0471 559</a></strong>  <strong><a href="justice@justicendou.site"> Email Me: justice@justicendou.site </a> </strong></small></footer>
</div>
