<ul class="sidebar-menu">
        <li class="header">J-Ndou</li>
        <li class="treeview">
          <li><a href="/" title="Justice Ndou"><i class="glyphicon glyphicon-home"></i> <strong>Home</strong></a></li>
          <li><a href="/about" title="About Justice Ndou"><i class="glyphicon glyphicon-info-sign"></i> <strong>About</strong></a></li>
          <li><a href="/contact" title="Contact Justice Ndou"><i class="glyphicon glyphicon-envelope"></i> <strong>Contact</strong></a></li>
        </li>
</ul>
