<ul class="sidebar-menu">
        <li class="header">E-Hosting</li>
        <li class="treeview">
          <li><a href="/" title="Messaging &amp; Contact Management App Home"><i class="glyphicon glyphicon-home"></i> <strong>Home</strong></a></li>
          <li><a href="/about" title="About Easy Hosting"><i class="glyphicon glyphicon-info-sign"></i> <strong>About</strong></a></li>
          <li><a href="/contact" title="Contact Easy Hosting"><i class="glyphicon glyphicon-envelope"></i> <strong>Contact</strong></a></li>
        </li>
</ul>
