<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Justice Ndou Profile &amp; Portfolio Web Application</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="theme-color" content="#fff">
  <meta name="description" content="Justice Ndou Profile and Portfolio Web App, find my software projects, social media profiles and CV">

    <link rel="icon" type="image/png" sizes="72x72" href="/static/dist/img/icons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/dist/img/icons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/static/dist/img/icons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/dist/img/icons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/static/dist/img/icons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/dist/img/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/static/dist/img/icons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/dist/img/icons/icon-512x512.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/dist/img/icons/144x144.png">
    <link rel="manifest" href="/static/dist/manifest/manifest.json">


  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/dist/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/dist/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="/static/dist/css/blog.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<!-- jQuery 2.2.3 -->
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7790567144101692",
          enable_page_level_ads: true
     });
</script>
</head>
<body class="hold-transition skin-blue sidebar-mini" id="MyBody" >

<div class="wrapper">

   <div id="MainHeaderDiv"></div>

  <div id="SideBarDiv"></div>

  <div class="content-wrapper">

    <section class="content-header">
      <h1>
         Justice Ndou - Personal Profile
        <small>Home</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      </ol>
      </section>
    <!-- Main content -->
    <section class="content">
     <div class="row">
           <div class="box box-body">
            <div class="col-md-3">

                 <div class="box box-primary">
                    <div class="box box-header with-border">
                            <h3 class="box-title"><strong><i class="fa fa-user-plus"> </i> Personal Profile</strong> </h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>

                        <div class="box-body">
                            <ul class="sidebar-menu">
                                <li class="tree-view">
                                    <li id="softwareprojectslinkid" name="menuitems" title="Software &amp; Web Development projects by Justice Ndou"><a href="#!/profiles/software-projects"> <i class="fa fa-code-fork"> </i> <strong>Software Projects</strong> </a></li>
                                    <li id="servicesid" name="menuitems" title="Justice Ndou Services"><a href="#!/profiles/services"> <i class="fa fa-user-secret"> </i> <strong>Services</strong> </a></li>
                                    <li id="linkedinprofileid" name="menuitems" title="Professional Profile of Justice Ndou on LinkedIn"><a href="#!/profiles/linkedin"> <i class="fa fa-linkedin"> </i> <strong>LinkedIN</strong></a> </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Add some adverts here-->
                <div class="box box-primary">
                    <div class="box box-header with-border">
                            <h3 class="box-title"><strong><i class="fa fa-shopping-basket"> </i> Hire Justice Ndou</strong> </h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>

                        <div class="box-body">
                            <ul class="sidebar-menu">
                                <li class="tree-view">
                                    <li id="dohireid" name="menuitems" title="Hire Justice Ndou for all your web app development needs"><a href="#!/services/dohire"> <i class="fa fa-angellist"> </i> <strong>Do Hire</strong> </a></li>
                                    <li id="checkrequeststatusid" name="menuitems" title="Check your request status"><a href="#!/services/request-status"> <i class="fa fa-battery-three-quarters"> </i> <strong>Request Status</strong> </a></li>                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="box box-footer">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-format="fluid"
                        data-ad-layout-key="-fb+5w+4e-db+86"
                        data-ad-client="ca-pub-7790567144101692"
                        data-ad-slot="7246754264"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                 <div class="box box-primary">
                    <div class="box box-header with-border">
                            <h3 class="box-title"><strong><i class="fa fa-archive"> </i> My Interests</strong> </h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>

                        <div class="box-body">
                            <ul class="sidebar-menu">
                                <li name="menuitems" id="programmingid" title="Blog Articles on Programming"><a href="#!/blog/programming"><i class="fa fa-code"> </i> <strong>Programming</strong></a> </li>
                                <li name="menuitems" id="hackerid" title="Blog Articles on Hacking"><a href="#!/blog/hacking"><i class="fa fa-hacker-news"> </i> <strong>Hacking</strong></a> </li>
                                <li   name="menuitems" id="scienceid" title="Blog Articles on Science"><a href="#!/blog/science"><i class="fa fa-lightbulb-o">  </i> <strong>Science</strong></a> </li>
                                <li name="menuitems" id="mathematicsid" title="Blog Articles on Mathematics"><a href="#!/blog/mathematics"><i class="fa fa-y-combinator"> </i> <strong>Mathematics</strong></a> </li>
                                <li id="philosophyid" name="menuitems" title="Blog Articles on Philosophy"><a href="#!/blog/philosophy"><i class="fa fa-balance-scale"> </i> <strong>Philosophy</strong></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box box-footer">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-format="fluid"
                        data-ad-layout-key="-fb+5w+4e-db+86"
                        data-ad-client="ca-pub-7790567144101692"
                        data-ad-slot="7246754264"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <div class="box box-primary">
                    <div class="box box-header with-border">
                            <h3 class="box-title"><strong><i class="fa fa-share-alt-square"> </i> Social Media</strong> </h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>

                        <div class="box-body">
                            <ul class="sidebar-menu">
                                <li id="facebookid"   name="menuitems" title="Justice Ndou on Facebook"><a href="#!/social/facebook"> <i class="fa fa-facebook"> </i> <strong>Facebook</strong></a></li>
                                <li id="googleid" name="menuitems" title="Justice Ndou on Google &amp; Google+"><a href="#!/social/google"><i class="fa fa-google"> </i> <strong>Google +</strong></a> </li>
                                <li id="twitterid"  name="menuitems" title="Justice Ndou on Twitter"><a href="#!/social/twitter"><i class="fa fa-twitter"> </i> <strong>Twitter</strong></a> </li>
                                <li id="quoraid"  name="menuitems" title="Justice Ndou on Quora"><a href="#!/social/quora"><i class="fa fa-question-circle"> </i> <strong> Quora</strong></a> </li>
                                <li id="youtubeid"  name="menuitems" title="Justice Ndou on Youtube"><a href="#!/social/youtube"><i class="fa fa-youtube"> </i> <strong>Youtube</strong></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box box-footer">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                      <ins class="adsbygoogle"
                          style="display:block"
                          data-ad-format="fluid"
                          data-ad-layout-key="-fb+5w+4e-db+86"
                          data-ad-client="ca-pub-7790567144101692"
                          data-ad-slot="7246754264"></ins>
                      <script>
                          (adsbygoogle = window.adsbygoogle || []).push({});
                      </script>
                  </div>

            </div>
            <div class="col-md-9">
              <div class="box box-header with-border">
                <h3 class="box-title"><strong><i class="fa fa-user-md"> </i> Justice Ndou Personal Profile and Portfolio Web Application</strong></h3>
                <blockquote>
                    <em>Developing Intelligent Business & Marketing Solutions for your Business.</em>
                    <div id="mainadvertcode"></div>
                </blockquote>
              </div>
                <div id="mainbodyinfdiv">
                    <main>{{ articles }}</main>
                </div>

            </div>
            </div>
    </div>
    </section>
  </div>
 <div id="FooterDiv"></div>
  <div class="control-sidebar-bg"></div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/plugins/fastclick/fastclick.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>
<script async defer src="/static/dist/js/pages/loaders.js"></script>
<script async defer src="/static/dist/js/pages/index.js"></script>
 <script src="/static/dist/js/serviceworker/register-sw.js"></script>

</body>
</html>
