<html>
    <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Justice Ndou-Perlin Flow Algorithm</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="description" content="Justice Ndou's Implementation's of Perlin flow algorithm with Javascript">
  <meta name="theme-color" content="#fff">
    <meta name="description" content="About Justice Ndou, Professional Web Application Developer, Freelance Developer, CEO Blue IT Marketing">
    <link rel="icon" type="image/png" sizes="72x72" href="/static/dist/img/icons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/dist/img/icons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/static/dist/img/icons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/dist/img/icons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/static/dist/img/icons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/dist/img/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/static/dist/img/icons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/dist/img/icons/icon-512x512.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/dist/img/icons/144x144.png">
    <link rel="manifest" href="/static/dist/manifest/manifest.json">
    <link rel="stylesheet" href="/static/dist/css/algos/style.css">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/dist/css/font-awesome.min.css">

  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">

<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<style>
    body {
        padding: 0;
        margin: 0;
    }
</style>
<script src="/static/dist/js/p5/p5.min.js"></script>
<script src="/static/dist/js/p5/addons/p5.dom.min.js"></script>
<script src="/static/dist/js/p5/addons/p5.sound.min.js"></script>
<script src="/static/dist/js/algos/perlin/perlin.js"></script>
<script src="/static/dist/js/algos/perlin/particle.js"></script>
        <link rel="stylesheet" href="../../../static/dist/css/algos/style.css">

    </head>
    <body class="hold-transition skin-blue sidebar-collapse">

  <!-- Main Header -->
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Justice Ndou</a>
                <div class="navbar-brand">Perlin Flow Algorithm</div>
                <a class="navbar-brand" href="/algorithms/perlin">Reload()</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
                    <li class="menuItem"><a href="/">Home</a></li>
					<li class="menuItem"><a href="/about">About</a></li>
					<li class="menuItem"><a href="/contact">Contact</a></li>
                    <li class="menuItem"><a href="/games">Games</a></li>
					<li class="menuItem"><a href="/algorithms">Algorithms</a></li>

				</ul>
			</div>

		</div>
	</nav>

   <div id="MainHeaderDiv"></div>



  <!-- Left si</div>de column. contains the logo and sidebar -->

<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- Bootstrap 3.3.6 -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/dist/js/pages/utiities/utilities.js"></script>
<script src="/static/dist/js/algos/stickUp.min.js"></script>
<script src="/static/dist/js/algos/algosloader.js"></script>

	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();

		});
	  });
	</script>

</body>
</html>
