<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title"> Address</h3>
    </div>
    <div class="row">
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7346.606867625802!2d30.457075699999987!3d-22.97586689999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec5c66724aa5d6f%3A0x575cbc2d4f9a0342!2sBLUE+IT+MARKETING+PTY+LTD!5e0!3m2!1sen!2sza!4v1508317972598" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
    <div class="row">
     <div class="col-md-6">
         <div class="box box-header">
             <h3 class="box-title"><i class="glyphicon glyphicon-map-marker"> </i> Address </h3>
         </div>
         <address>
             <small>Blue IT Marketing Pty LTD</small><br>
             <small>reg: 2013/078651/07</small><br>
             <small>Office G05</small><br>
             <small>Sabina Plaza</small><br>
             <small>Thohoyandou</small><br>
             <small>0950</small><br>
             <small>Tel: <a href="tel:27159620369">015962 0369</a></small><br>
             <small>Cell: <a href="tel:27790471559">0790471559</a></small><br>
         </address>
     </div>
    </div>
</div>


