<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Justice Ndou-Javascript based implementations of Classic Algorithms</title>
  <!-- Tell the browser to be responsive to screen width -->

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="description" content="Justice Ndou's Implementation's of Classic Algorithms in Search and AI using Javascript and Python">
  <meta name="theme-color" content="#fff">
    <meta name="description" content="About Justice Ndou, Professional Web Application Developer, Freelance Developer, CEO Blue IT Marketing">
    <link rel="icon" type="image/png" sizes="72x72" href="/static/dist/img/icons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/dist/img/icons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/static/dist/img/icons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/dist/img/icons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/static/dist/img/icons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/dist/img/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/static/dist/img/icons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/dist/img/icons/icon-512x512.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/dist/img/icons/144x144.png">
    <link rel="manifest" href="/static/dist/manifest/manifest.json">

  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/dist/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/dist/css/ionicons.min.css">
  

  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">
  <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<!-- jQuery 2.2.3 -->
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7790567144101692",
          enable_page_level_ads: true
     });
</script>
</head>
<body class="hold-transition skin-blue sidebar-mini" id="MyBody" >
<div class="wrapper">
  <!-- Main Header -->
   <div id="MainHeaderDiv"></div>
  <!-- Left side column. contains the logo and sidebar -->
  <div id="SideBarDiv"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
         Justice Ndou
        <small>Algorithms</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/algorithms"><i class="fa fa-code-fork"></i> Algorithms</a></li>

      </ol>
      </section>
    <!-- Main content -->
    <section class="content">
     <div class="row">
           <div class="box box-body">
            <div class="col-md-3">
                <div class="box box-body with-border">
                    <div class="box box-header with-border">
                        <h3 class="box-title"> Algorithms</h3>
                    </div>
                    <ol class="sidebar-menu">
                        <li id="matrixid"><a href="/matrix"><strong><i class="fa fa-gamepad"> </i> Matrix Digital Rain</strong></a></li>
                        <li id="strangeattractorsid"><a href="/algorithms/strange"><strong><i class="fa fa-gamepad"> </i> Strange Attractors</strong></a></li>
                        <li id="searchid"><a href="#"><strong><i class="fa fa-gamepad"> </i> Search</strong></a></li>
                        <li id="aiid"><a href="#"><strong><i class="fa fa-gamepad"> </i> AI</strong></a></li>                        
                    </ol>
                </div>

            </div>
            <div class="col-md-9">
              
                    <div class="box box-header with-border">
                        <h3 class="box-title"> <strong>Algorithms</strong> </h3>
                        <blockquote><strong>Justice Ndou</strong> - An Implementations of Classic Computer Algorithms (AI, Search, Graph, and Trees) using Javascript</blockquote>
                    </div>
                    <div id="mainbodyinf">
                      <div class="box box-body with-border">
                          <div class="box box-header with-border">
                            <h3 class="box-title"> <strong>Matrix Digital Rain Algorithm</strong></h3>
                            <blockquote>
                                Recreating the digital rain effect from the original matrix movie.
                            </blockquote>
                            <blockquote>
                               The Matrix Theme Rain Effect Recreation was done with Javascript <a href="https://p5js.org/">p5.js </a>  
                               this means the entire sequence is just an Algorithm and its different every time its run.
                            </blockquote>
                          </div>
                          <div class="box box-header with-border">
                            <h3 class="box-title"> <strong>Search Algorithms</strong></h3>                            
                          </div>

                          <blockquote>
                              Implementations of the classic depth first and breadth first algorithms in Javascript

                          </blockquote>
                          <blockquote>
                              <h4><strong>Depth First Search (DFS)</strong></h4>
                              Definition - <a href="https://en.wikipedia.org/wiki/Depth-first_search"><strong>Wikipedia</strong></a> = Depth-first search (DFS) is an algorithm for traversing or searching tree or graph data structures. The algorithm starts at the root node (selecting some arbitrary node as the root node in the case of a graph) and explores as far as possible along each branch before backtracking.

                          </blockquote>
                          <blockquote>
                              <h4><strong>Breadth First Search (BFS)</strong></h4>
                              Definition - on <a href="https://en.wikipedia.org/wiki/Breadth-first_search">Wikidedia</a> - Breadth-first search (BFS) is an algorithm for traversing or searching tree or graph data structures. It starts at the tree root (or some arbitrary node of a graph, sometimes referred to as a 'search key'[1]), and explores all of the neighbor nodes at the present depth prior to moving on to the nodes at the next depth level.
                          </blockquote>

                          <div class="box box-header with-border">
                            <h3 class="box-title"> <strong>Artificial Intelligence (AI) Algorithms</strong></h3>
                          </div>

                          <blockquote>
                                An Implementations in Javascript of several AI based algorithms including

                                <ol>
                                  <li> <strong>Neural Networks</strong> / <strong>Deep Neural Networks</strong></li>
                                  <li> <strong>Expert Systems</strong></li>
                                  <li> <strong>Genetic Algorithms</strong></li>
                                </ol>

                                All the algorithms are done in javascript and in the future i will add 
                                Python implementations of the same algorithms.

                                <blockquote>
                                    <h4><strong>Neural Network Algorithms</strong></h4>
                                    <p>Are algorithms which are loosely based on the way that a brain processes information through synaptic connections
                                    between neurons, algorithms created in this way allows for computer algorithms to come up with solutions to problems
                                    that traditional algorithms either find hard to solve or cannot yet solve.</p>
                                    
                                    <h4><strong>Connection between Neural Networks and Data</strong></h4>
                                    <blockquote><strong>Neural Networks</strong> depend entirely on the available information for training purposes and most often 
                                      also in the pre processing of such information in order to organize it in such a way that allows for the information
                                      to be processed as inputs to the network.</blockquote>

                                    <blockquote>The depence on information of neural networks is the sole reason why the re-emergence of neural networks today happened
                                      just  after the revolution of Cloud Computing, and also (Big Data) Data Analytics and Processing Methods have matured.</blockquote>




                                </blockquote>
                          </blockquote>
                      </div>
                        

                    </div>            
            </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
 <div id="FooterDiv"></div>
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- Bootstrap 3.3.6 -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/plugins/fastclick/fastclick.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script async defer src="/static/dist/js/pages/loaders.js"></script>
<script async defer src="/static/dist/js/algos/algos.js"></script>

</body>
</html>
